*{
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  background-size: cover;
}

.header{
  height: 100px;
  background: #f8f9fa;
  padding: 0 20px;
  color: #EEE0E5	;
}

.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;  
}

.menu{
  float: right;
  line-height: 100px;  
}

.menu a{
  color: #EEE0E5;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn{
  float: right;
  
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;  
}
  
.contact-form{
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat", sans-serif;  
}

.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}

.txtb{
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label{
  display: block;
  text-align: left;
  color: #333;  
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.button{
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #515151;
 text-decoration: none;
 line-height: 1.2;
 font-weight: normal;
 font-family: sans-serif;
 font-size: 18px;
 background-color: #CFCBE6;
 border-radius: 24px;
 padding: 11px 40px;
 border: 0px solid #CFCBE6;
 cursor: pointer;
}
.btn-toolset:hover {
 background-color: #99A7B3;
 border-color: #99A7B3;
}
.btn-toolset > strong {
 font-size: 24px;
}
}

 




@media screen and (max-width : 800px){
  .show-menu.btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;    
  }
  .hide-menu.btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }

}
